.home_container{
    background-color: aliceblue;
}

.button {
    background-color: #3CDAE4; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: .4rem .2rem;
    padding: .8rem 1.6rem;
    text-align: center;
    cursor: pointer;
    
  }

  .button1 {
    border-radius: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button1:hover {opacity: 0.6}

  